<% include ../partials/header %>


<div class="ui main container segment">
    <div class="ui huge header">New Comments for <%=blog.title%></div>

        <form  class="ui form" action="/blogs/<%=blog._id%>/comments" method="POST">
                                                                                                                                                             
             <div class="field">
                <label>Comment</label>
                <textarea name="comment[text]"></textarea>
             </div>
            <input class="ui inverted big blue button" type="submit">
        </form>
    
</div>


















<% include ../partials/header %>