i.announcement {
    font-size: 2em;
}

.container.main{
    margin-top: 7em;
}

#delete{
    display: inline;
}
.comments {
    clear: both;
}

.secondary.button{
    display: block;
    float: right;

}